<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Add Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1>Add a New Book</h1>

<form action="{{ url_for('add') }}" method="POST">
    <label>Book Name</label>
    <input type="text" name="book_name" placeholder="Enter book title" required/>

    <label>Book Author</label>
    <input type="text" name="book_author" placeholder="Enter author name" required/>

    <label>Rating</label>
    <input type="number" name="reader_rating" placeholder="0-10" min="0" max="10" step="0.1" required/>

    <button type="submit">Add Book</button>
</form>

<br>
<div class="center-btn">
    <a class="btn" href="{{ url_for('home') }}">⬅ Back to Library</a>
</div>


</body>
</html>
